.imagen.empresa{

padding: 10px;
  margin: 10px;
 
}

.inicio {

text-align: center;

}
.texto{
display: flex;
padding: 30px;
  margin: 80px;
}

.menu{
padding: 25px;
font-family:Courier New;

}


.m1{
    display: inline-block;
    font-size:16px;
    font-family:Verdana;
    padding: 10px;
    color: black;
    background-color: #A4D2CF;
    border-radius: 6px;
    border: 2px;
}
.m1:hover {
      
      background-color: #5596AA;
      color: white;
      border-radius: 6px;
 }
